<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pomodoro Navi - パスワード再設定</title>
    <%= stylesheet_link_tag 'top', media: 'all' %>
    <%= stylesheet_link_tag 'formpage', media: 'all' %>
</head>
<body>
    <main>
      <div class="formpage-title">パスワード再設定</div><br>

        <div class="forgot-password-reset-message">
          新しいパスワードをご入力ください。<br><br><br>
        </div>

        <%= form_with model: @user, url: user_password_path, method: :patch, local: true do |f| %>
          <%= f.hidden_field :reset_password_token %>

        <div class="formpage-field">
          <%= f.password_field :password, autofocus: true, autocomplete: "new-password", placeholder: "パスワード" %>
        </div>

        <div class="formpage-field">
          <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "もう一度同じパスワードをご入力ください" %>
        </div>

          <div class="formpage-actions">
            <%= f.submit "パスワードを変更する" %>
          </div><br>
        <% end %>

        <div class="error_message"><%= render 'shared/error_messages', model: resource %></div>
    </main>
</body>
</html>
