<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pomodoro Navi</title>
    <%= stylesheet_link_tag 'top', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'timer', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'navi_message', media: 'all', 'data-turbolinks-track': 'reload' %>
</head>
<body>
<audio id="alarm-sound" src="<%= Rails.env.development? ? '/assets/alarm.mp3' : asset_path('alarm.mp3') %>"></audio>
    <main>
        <div class="timer-container">
            <span id="timer">25:00</span>
            <div id="status"></div>
        </div>
            <div class="controls">
                <button id="start-stop">Start</button>
                <button id="end">End</button>
            </div>
        <div class="navi-container">
        <div class="navi-icon">
          <% if @navi_character %>
            <%= image_tag @navi_character.icon_url.url, alt: @navi_character.name %>
            <p id="navi-name"><%= @navi_character.name %></p>
          <% else %>
            <%= image_tag 'cat.png', alt: 'ニャビ' %>
            <p id="navi-name">ニャビ</p>
          <% end %>
        </div>
            <div class="navi-message" id="navi-message">

                <% if notice %>
                  <p class="notice"><%= notice %></p>
                <% elsif alert %>
                  <p class="alert"><%= alert %></p>
                <% end %>

                <% unless current_user %>
                『Pomodoro Navi』へようこそ！<br>
                初めての方は画面右上の Sighup か Google認証 からアカウントを登録してくださいニャ。<br>
                登録されますと、専用のナビキャラクターの設定・タイマーの時間設定などの変更・レポート機能を使えるようになりますの。<br>
                新しいナビキャラクターを登録されるまでは、このニャビが、ご主人のポモドーロのナビを務めますニャ。<br>
                もっと詳しいことは、画面右上端の「？」アイコン（使い方ページ）をクリックしてご確認くださいニャ。<br>
                <% end %>
                <% if current_user %>
                Loading...
                <% end %>

            </div>
        </div>
        <form id="usermessage_form">
            <input type="text" id="user_input" placeholder="ナビにメッセージを送る">
            <button id="user_input_button">
                <img src="<%= asset_path 'navichat.png' %>" alt="送信">
            </button>
        </form>
    </main>
    <%= javascript_include_tag 'timer', 'data-turbolinks-track': 'reload', type: "module" %>
    <%= javascript_include_tag 'navi', 'data-turbolinks-track': 'reload', type: "module" %>
    <script>
    // ナビのランダムメッセージ（ログイン時のみ）
    document.addEventListener('turbolinks:load', function() {
      const isLoggedIn = document.querySelector("meta[name='user-logged-in']").content === "true";
      if (isLoggedIn) {
        fetch('/navi_messages/6')
          .then(response => response.json())
          .then(data => {
            const naviMessageElement = document.getElementById('navi-message');
            if (naviMessageElement) {
              naviMessageElement.innerHTML = `<p>${data.response}</p>`;
            }
          });
      }
    });
    </script>
</body>
</html>