    <div class="header-left">
      <%= link_to root_path, data: { turbo: false } do %>
        <h1>Pomodoro Navi</h1>
      <% end %>
    </div>
    <div class="header-right">
        <%= link_to "Login", new_user_session_path, data: { turbo: false }  %>
        <%= link_to "Signup", new_user_registration_path, data: { turbo: false }  %>
        <%= link_to page_path('Help'), data: { turbo: false } do %>
          <%= image_tag 'help.png' %>
        <% end %>
    </div>