<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pomodoro Navi - ログイン</title>
    <%= stylesheet_link_tag 'top', media: 'all' %>
    <%= stylesheet_link_tag 'formpage', media: 'all' %>
</head>
<body>
    <main>
        <div class="formpage-title">Login</div><br>

        <%= form_with(model: resource, url: session_path(resource_name), local: true) do |f| %>
          <div class="formpage-field">
            <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "メールアドレス" %>
          </div>

          <div class="formpage-field">
            <%= f.password_field :password, autocomplete: "current-password", placeholder: "パスワード" %>
          </div>

          <div class="formpage-actions">
            <%= f.submit "ログイン" %>
          </div><br>
        <% end %>

      <% if notice %>
        <p class="notice"><%= notice %></p>
      <% elsif alert %>
        <p class="alert"><%= alert %></p>
      <% end %>

        <%= render "devise/shared/links" %>
    </main>
</body>
</html>