<!DOCTYPE html>
<html>
  <head>
    <title>PomodoroNavi</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= favicon_link_tag('favicon.ico') %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <% if user_signed_in? %>
      <meta name="user-logged-in" content="true">
    <% else %>
      <meta name="user-logged-in" content="false">
    <% end %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload', type: "module" %>
  </head>

  <body style="background-color: <%= @pomodoro_settings&.background_color %>;">
    <header style="background-color: <%= @pomodoro_settings&.header_footer_color %>;">
      <% if user_signed_in? %>
        <%= render 'shared/header' %>
      <% else %>
        <%= render 'shared/before_login_header' %>
      <% end %>
    </header>

    <%= yield %>

    <footer style="background-color: <%= @pomodoro_settings&.header_footer_color %>;">
      <%= render 'shared/footer' %>
    </footer>
  </body>
</html>
